@import url("https://fonts.googleapis.com/css2? family= Archivo:wght@300;400;500;700 & family= Open+Sans:wght@300;400;700;800 & mostrar=cambiar");
* {
  font-family: 'Archivo', sans-serif;
  font-family: 'Open Sans', sans-serif; }

* {
  margin: 0;
  box-sizing: border-box; }

h1 {
  font-size: 3.5em; }

h2 {
  font-size: 2.7em; }

h3 {
  font-size: 2em; }

p {
  font-size: 1.25em; }

ul {
  list-style: none; }

li {
  font-size: 1.25em; }

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 2px solid rgba(12, 12, 12, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
  color: white;
  background-color: blueviolet; }

button:hover {
  background-color: #613e81; }

.container {
  max-width: 1400px;
  margin: auto; }

header {
  background-color: white; }

.logo {
  margin: 0;
  padding: 25px 30px; }

header .container {
  display: flex;
  flex-direction: column;
  align-items: center; }

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px; }

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black; }

header a:hover {
  color: blueviolet; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.hero h1 {
  color: white;
  font-size: 65px;
  padding: 30px; }

.hero h2 {
  font-size: 28px;
  padding: 30px; }

.somos-global {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/quienes-somos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.somos-global h2 {
  color: white;
  padding: 20px;
  font-size: 55px; }

.somos-global p {
  color: white;
  padding: 70px; }

.somos-global .container {
  text-align: center;
  padding: 200px 12px; }

.nuestros-servicios {
  background-color: #1f1e1e;
  color: white;
  text-align: center; }

.nuestros-servicios .container {
  padding: 100px 0px; }

.nuestros-servicios h2 {
  margin-top: 0;
  padding: 20px;
  font-size: 3.2em; }

.nuestros-servicios p {
  display: none; }

.nuestros-servicios .carta {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px;
  margin: 20px;
  border-radius: 15px; }

.carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/visitas.jpg"); }

.carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ventas.jpg"); }

.carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/servicio.jpg"); }

.caracteristicas .container {
  text-align: center;
  padding: 200px 12px;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/foto6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.caracteristicas li {
  margin: 20px 0px;
  font-weight: bold; }

.aplica-ya h2 {
  font-size: 9vw;
  padding: 40px; }

.aplica-ya {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1a1919;
  color: white;
  height: 80vh; }

.contact {
  background-color: #202020;
  color: white;
  font-size: 18px;
  border-radius: 14px;
  padding: 25px;
  display: grid;
  gap: 25px; }

.contact-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase; }

.contact-details {
  display: grid;
  gap: 20px; }

.contact-details-group {
  display: grid;
  gap: 3px; }

.contact-label {
  text-transform: uppercase;
  font-weight: 500; }

.contact-form {
  display: grid;
  gap: 20px; }

.contact-form-group {
  display: grid;
  gap: 3px; }

.contact-form input {
  border-radius: 7px;
  border: none;
  height: 30px;
  padding: 5px 10px; }

.contact-form textarea {
  border-radius: 7px;
  border: none;
  height: 30px;
  padding: 5px 10px; }

.contact-form textarea {
  height: auto;
  resize: vertical; }

.footer__contact {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 50px;
  margin-top: 3rem; }

.footer__img {
  width: 30px; }

.subtitle {
  text-align: center; }

.subtitle {
  display: flex;
  justify-content: center;
  padding: 80px; }

@media (min-width: 720px) {
  header {
    position: fixed;
    width: 100%; }
  header .container {
    flex-direction: row;
    justify-content: space-between; }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
    padding: 10px; }
  .somos-global .container {
    width: 100%; }
  .somos-global h2 {
    padding: 50px;
    font-size: 5em; }
  .somos-global p {
    font-size: 30px; }
  .hero h1 {
    font-size: 90px;
    padding: 40px; }
  .hero h2 {
    padding: 20px; }
  .nuestros-servicios .servicios {
    display: flex;
    justify-content: center;
    font-weight: bold; }
  .nuestros-servicios p {
    display: block;
    margin-bottom: 30px;
    padding: 20px; }
  .nuestros-servicios .carta {
    padding: 50px;
    box-shadow: 2px 2px 10px #838080; }
  .caracteristicas .container {
    color: white;
    font-weight: bold;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/caracteristicas.jpg"); }
  .aplica-ya {
    height: 50vh; }
  .aplica-ya h2 {
    font-size: 5em; }
  .aplica-ya button {
    font-size: 1.5em; }
  .footer {
    margin: 0%; }
  .footer__contact {
    padding: 0%; }
  .subtitle {
    position: relative;
    top: 50px; }
  .contact {
    font-size: 20px;
    padding: 120px;
    max-width: 980px;
    margin: auto;
    position: relative;
    top: 100px;
    z-index: -2; }
  .contact-title {
    font-size: 40px;
    text-align: left; } }
