.footer__contact{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 50px;
    margin-top: 3rem;
}


.footer__img{
    width: 30px;
}

.subtitle{
    text-align: center;
}


.subtitle{
    display: flex;
    justify-content: center;
    padding: 80px ;
}