.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("../assets/img/inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero h1{
    color: white;
    font-size: 65px;
    padding: 30px;
}

.hero h2{
    font-size: 28px;
    padding: 30px;
}

.somos-global{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("../assets/img/quienes-somos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.somos-global h2{
    color: white;
    padding: 20px;
    font-size: 55px;
}

.somos-global p{
    color: white;
    padding: 70px;
}

.somos-global .container{
    text-align: center;
    padding: 200px 12px;
}

.nuestros-servicios{
    background-color: rgb(31, 30, 30);
    color: white;
    text-align: center;
}

.nuestros-servicios .container{
    padding: 100px 0px;
}

.nuestros-servicios h2{
    margin-top: 0;
    padding: 20px;
    font-size: 3.2em;
}

.nuestros-servicios p{
    display: none;
}

.nuestros-servicios .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("../assets/img/visitas.jpg");
}


.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("../assets/img/ventas.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("../assets/img/servicio.jpg");
}


.caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("../assets/img/foto6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.caracteristicas li{
    margin: 20px 0px;
    font-weight: bold;
}

.aplica-ya h2{
    font-size: 9vw;
    padding: 40px;
}


.aplica-ya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(26, 25, 25);
    color: white;
    height: 80vh;
}

.contact{
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 18px;
    border-radius: 14px;
    padding: 25px;
    display: grid;
    gap: 25px;
}

.contact-title{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.contact-details{
    display: grid;
    gap: 20px;
}

.contact-details-group{
    display: grid;
    gap: 3px;
}

.contact-label{
    text-transform: uppercase;
    font-weight: 500;
}

.contact-form{
    display: grid;
    gap: 20px;
}

.contact-form-group{
    display: grid;
    gap: 3px;
}

.contact-form input{
    border-radius: 7px;
    border: none;
    height: 30px;
    padding: 5px 10px;
}


.contact-form textarea{
    border-radius: 7px;
    border: none;
    height: 30px;
    padding: 5px 10px;
}

.contact-form textarea{
    height: auto;
    resize: vertical;
}
